<div class="container" [ngClass]="{'login':loginSucces}">
  <p class="text-danger">{{loginError}}</p>
    <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
          <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
              class="text-danger">
            <div *ngIf="email.hasError('required')">
                El email es requerido
            </div>
            <div *ngIf="email.hasError('email')">
                Email invalido
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
        
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="text-danger">
                <div *ngIf="password.hasError('required')">
                    La contraseña es requerido
                </div>
            </div>
        </div>
        
        <div class="botones">
          <button (click)="login()"  type="submit" class="btn btn-primary">Iniciar Sesión</button>
          <button routerLink="/register" type="submit" class="btn btn-success m-2">Registrate</button>
        </div>
    </form>
</div>
