<div id="pagina-responsive" *ngIf="userloginOn">
    <div id="titilo-grid" class="fixed-top">
        <div class="titulo-element">
            <nav class="navbar bg-body-tertiary fixed-top">
                <div class="container-fluid">
                  <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" (click)="inicio()">Inicio</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" (click)="rutina()">Ver rutinas</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" (click)="ejercicios()">Ver Ejercicios</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link">Perfil</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" (click)="iniciar_sesion()" *ngIf="!userloginOn">Iniciar Sesion</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link"(click)="logout()" *ngIf="userloginOn">Cerrar Sesion</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
        <div class="titulo-element">
            <h1>CicloFit</h1>
        </div>
    </div>
</div>

<div class="titulo-element-Login" *ngIf="!userloginOn">
  <h1>CicloFit</h1>
</div>



